<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- config mathjax -->
{% if site.mathjax == true %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
        
        TeX: {
            {% if site.mathjax_extensions %}
            extensions: [
                {% for extension in site.mathjax_extensions %}
                    "{{ extension }}",
                {% endfor %}
            ]
            {% endif %}
        }
    });
</script>
{% endif %}

<!-- skin -->
<script>
    var hours = (new Date()).getHours();
    var node = document.createElement('link');
    node.rel = 'stylesheet';
    if (hours >= 6 && hours < 16) {
        node.href = "{{ '/assets/css/skins/light.css' | relative_url }}";
    } else if (hours >= 16 && hours < 19) {
        node.href = "{{ '/assets/css/skins/sunset.css' | relative_url }}";
    } else {
        node.href = "{{ '/assets/css/skins/dark.css' | relative_url }}";
    }
    document.getElementsByTagName('head')[0].appendChild(node);
</script>

<!-- end custom head snippets -->
