<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- config mathjax -->
{% if site.mathjax == true %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
        
        TeX: {
            {% if site.mathjax_extensions %}
            extensions: [
                {% for extension in site.mathjax_extensions %}
                    "{{ extension }}",
                {% endfor %}
            ]
            {% endif %}
        }
    });
</script>
{% endif %}

<!-- skin -->
<script>
    var hours = (new Date()).getHours();
    var node = document.createElement('link');
    node.rel = 'stylesheet';
    if (hours >= 6 && hours < 16) {
        node.href = "{{ '/assets/css/skins/light.css' | relative_url }}";
    } else if (hours >= 16 && hours < 19) {
        node.href = "{{ '/assets/css/skins/sunset.css' | relative_url }}";
    } else {
        node.href = "{{ '/assets/css/skins/dark.css' | relative_url }}";
    }
    document.getElementsByTagName('head')[0].appendChild(node);
</script>

<!-- end custom head snippets -->
